project                 = "example"
env                     = "dev"
domain                  = "example.com"
sub_domain              = "app" # app.example.com
codestarconnections_arn = "<codestarconnections arn>"
